@charset "UTF-8";
* {
  margin: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

@media all and (min-width: 768px) {
  p {
    font-size: 16px;
  }

  a {
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 16px;
  }
}
@media all and (max-width: 768px) {
  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24.5px;
  }

  h4 {
    font-size: 21px;
  }

  h5 {
    font-size: 17.5px;
  }

  h6 {
    font-size: 14px;
  }
}
@media all and (max-width: 576px) {
  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 12px;
  }
}
body {
  overflow-x: hidden;
  font-family: "Helvetica Neue";
  font-weight: bold;
}

main {
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/img/home.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@media all and (max-width: 576px) {
  main {
    padding-top: 40px;
  }
}
img {
  width: 100%;
  height: auto;
}

@media all and (max-width: 992px) {
  [type=submit] {
    width: 60% !important;
  }
}
header {
  width: 100%;
  height: calc(100vh - 47px);
  background-image: url("/assets/img/home.jpg");
  background-size: cover;
}

@media all and (min-width: 576px) {
  header .logo {
    display: none;
  }
}
@media all and (max-width: 576px) {
  header {
    background: none;
    width: 100%;
    height: auto;
  }
  header .bird-container, header .home-logo {
    display: none;
  }
}
.nav {
  width: 100%;
  box-sizing: border-box;
  background-color: #FFD876;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  position: fixed;
  top: 0;
  z-index: 98;
}
.nav .container {
  width: 90%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin: auto;
}
.nav .container .nav-links {
  width: 35%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.nav .container .nav-links a {
  border-radius: inherit;
  background: inherit;
  position: relative;
  padding: 5px;
  color: #003051;
  text-transform: uppercase;
}
.nav .container .nav-links a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #003051;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.nav .container .nav-links a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.menu-connected {
  transition: all 0.5s ease-in-out;
  padding: 0 5px 5px 5px;
  box-sizing: border-box;
  background-color: #FFD876;
  width: 17%;
  position: absolute;
  right: 0px;
}
.menu-connected li {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  border: none;
}
.menu-connected li a {
  margin: auto;
  border-radius: inherit;
  background: inherit;
  position: relative;
  padding: 5px;
  color: #003051;
  text-transform: uppercase;
}
.menu-connected li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #003051;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.menu-connected li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.hide-menu {
  transform: translateY(-500px);
}

.show-menu {
  transform: translateY(32px);
}

.hamburger, .cross {
  color: #003051;
  display: block;
  z-index: 100;
}

.menu {
  transition: all 1s ease-in-out;
  width: 100%;
  background: #FFD876;
  position: absolute;
  text-align: center;
  padding-top: 30px;
}
.menu a {
  display: block;
  color: #003051;
  border-bottom: #003051 1px solid;
}
.menu a:hover {
  display: block;
  background: #003051;
  color: #FFD876;
  border-bottom: #003051 1px solid;
}

@media all and (min-width: 576px) {
  .nav .container .bars, .nav .container .menu {
    display: none;
  }
}
@media all and (max-width: 992px) {
  .nav .container {
    width: 95%;
  }
  .nav .container .nav-links {
    width: 40%;
    padding: 5px 0;
  }
}
@media all and (max-width: 768px) {
  .nav-links a, .menu-connected li a {
    font-size: 12px;
  }
}
@media all and (max-width: 576px) {
  .nav .container {
    padding: 0;
    width: 100%;
  }
  .nav .container .nav-links {
    display: none;
  }
  .nav .container .bars {
    display: block;
    width: 100%;
  }
  .nav .container .bars a {
    padding: 16px;
  }
  .nav .container .menu {
    width: 100%;
  }
  .nav .container .menu a {
    padding: 16px;
  }
}
.home-logo {
  position: absolute;
  width: 25%;
  top: 50%;
}

.home-logo, .logo {
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.home-logo img, .logo img {
  width: 100%;
  height: auto;
}

.logo, .logo-transition {
  width: 10%;
  position: fixed;
  top: 2.5em;
}

.logo-transition, .undo-logo-transition {
  transition: 3s;
}

@media all and (max-width: 992px) {
  .logo, .logo-transition {
    width: 15%;
  }
}
@media all and (max-width: 576px) {
  .logo {
    width: 30%;
    top: 2em;
  }
}
footer {
  color: #FFD876;
  background-color: #003051;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  padding: 5px;
  width: 90%;
}

.footer-left-side, .footer-right-side {
  width: 50%;
  padding: 5px;
}

.footer-left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
.footer-left-side div:first-child iframe {
  min-height: 200px;
  width: 100%;
  height: auto;
}
.footer-left-side div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  min-height: 200px;
  padding: 5px 5px 5px 5%;
  box-sizing: border-box;
}
.footer-left-side div:last-child h1, .footer-left-side div:last-child a {
  text-transform: uppercase;
}
.footer-left-side div:last-child a {
  display: block;
  padding: 10px 30px;
  border-radius: 5px;
  color: #003051;
  background-color: #FFD876;
  border: 1px solid #003051;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
}
.footer-left-side div:last-child a:hover {
  color: #FFD876;
}
.footer-left-side div:last-child a:hover {
  background-color: #003051;
}
.footer-left-side div:last-child a:hover {
  border: 1px solid #FFD876;
}
.footer-left-side div:last-child a:hover {
  border: 1px solid #FFD876;
}

.footer-right-side {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

.footer-nav, .social-networks-policy {
  text-align: center;
  padding: 5px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  min-width: 30%;
}

.social-networks-policy {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  width: 30%;
}

.footer-nav a {
  padding: 10px 30px;
  border-radius: 5px;
  color: #FFD876;
  background-color: #003051;
  border: 1px solid #FFD876;
  margin: 3px 0;
  text-transform: uppercase;
}
.footer-nav a:hover {
  color: #003051;
}
.footer-nav a:hover {
  background-color: #FFD876;
}
.footer-nav a:hover {
  border: 1px solid #003051;
}

.social-networks-policy a, .policy a {
  height: 32px;
  display: block;
  color: #FFD876;
  margin: 3px 0;
}

.social-networks {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.fab {
  font-size: 24px;
}
.fab:hover {
  box-sizing: border-box;
  transition: 0.5s font-size;
  font-size: 32px;
}

.policy {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
}
.policy a {
  text-decoration: underline;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 12.3076923077px;
}

@media all and (max-width: 768px) {
  .footer-left-side div:first-child, .footer-left-side div:last-child a, .footer-nav {
    display: none;
  }

  .footer-left-side div:last-child {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    min-height: 150px;
  }

  .social-networks-policy {
    width: 100%;
  }

  .social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    height: auto;
  }
}
.bird {
  background-image: url(/assets/svg/bird-cells.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}
.bird--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}
.bird--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}
.bird--three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}
.bird--four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bird-container--one {
  animation-duration: 15s;
  animation-delay: 0s;
}
.bird-container--two {
  animation-duration: 16s;
  animation-delay: 1s;
}
.bird-container--three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}
.bird-container--four {
  animation-duration: 16s;
  animation-delay: 10.25s;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}
#slider-container {
  width: 100vw;
  height: calc(100vh - 47px);
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}

#slider-modal-container {
  box-sizing: border-box;
  position: relative;
}

#arrows-wrapper {
  padding: 5px;
  position: absolute;
  left: 40px;
  top: 40px;
  right: 40px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  z-index: 1;
}

.slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide div {
  min-height: 30%;
  background-color: rgba(0, 48, 81, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 40px;
  z-index: 99;
}
.slide div h3 {
  font-size: 21.5384615385px;
  color: #FFD876;
}
.slide div h2, .slide div p {
  color: #fff;
  width: 80%;
  text-align: center;
}
.slide div a {
  display: block;
  padding: 10px 30px;
  border-radius: 5px;
  color: #FFD876;
  background-color: #003051;
  border: 1px solid #FFD876;
}
.slide div a:hover {
  color: #003051;
}
.slide div a:hover {
  background-color: #FFD876;
}
.slide div a:hover {
  border: 1px solid #003051;
}

.div40px {
  background-color: rgba(0, 48, 81, 0.2);
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider-arrow {
  color: #003051;
  font-size: 48px;
  cursor: pointer;
}
.slider-arrow:hover {
  color: #FFD876;
}

.slider-arrow:hover {
  transition: 0.5s color;
}

#dots-wrapper {
  align-self: flex-end;
}

.dot-navigation {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 4px;
  border: 2px solid #FFD876;
  background-color: #fff;
  transition: 0.5s background-color, 0.5s border;
}
.dot-navigation:hover {
  border: 2px solid #003051;
}
.dot-navigation:hover {
  background-color: #FFD876;
}

/* creating class active-dot which will get add into the dot that indicates what image is displayed */
.active-dot {
  background-color: #003051;
}

/* fade animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media all and (max-width: 576px) {
  #slider-container {
    padding: 0;
  }

  #arrows-wrapper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .slide div {
    left: 0;
    right: 0;
    bottom: 0;
  }

  #dots-wrapper {
    display: none;
  }
}
.eventContainer .container {
  width: 350px;
  margin: auto;
  box-shadow: 5px 5px 6px #707070;
  border-radius: 5px;
}

.calendar2-msg {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #000;
  text-align: center;
  font-size: 14px;
  display: block;
}

.nice-date-picker-warpper {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nice-date-picker-header {
  width: 100%;
  height: 40px;
  font-size: 0;
  position: relative;
}

.nice-date-picker-header span, .nice-date-picker-header a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.nice-date-picker-header .prev-date-btn, .next-date-btn {
  font-size: 18px;
  width: 40px;
  text-align: center;
  color: #003051;
  text-decoration: none;
}

.nice-date-picker-header .prev-date-btn {
  position: absolute;
  left: 0px;
  top: 0px;
}

.nice-date-picker-header .next-date-btn {
  position: absolute;
  right: 0px;
  top: 0px;
}

.nice-date-title {
  width: 100%;
  font-size: 18px;
  color: #003051;
  text-align: center;
}

.nice-date-picker-body {
  width: 100%;
}

.nice-date-picker-body tr {
  width: 100%;
  height: 40px;
}

.nice-date-picker-body tr th {
  width: 46px;
  height: 40px;
  color: #003051;
  line-height: 40px;
  text-align: center;
  font-weight: 100;
}

.nice-date-picker-body tr td {
  width: 46px;
  height: 40px;
  color: #003051;
  line-height: 40px;
  text-align: center;
}

.nice-date-picker-body tr .nice-gray {
  opacity: 0.3;
}

.nice-date-picker-body tr .nice-normal {
  cursor: pointer;
}

.nice-date-picker-body tr .nice-current {
  background: #FFD876;
  color: #003051 !important;
  border-radius: 100%;
}

.nice-date-picker-body tr .nice-active {
  background: #FFD876;
  color: #fff;
  border-radius: 100%;
}

.nice-date-picker-body tr .select {
  background-color: #FFD876;
  color: #fff;
  border-radius: 100%;
}

table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
}

.dateSelected {
  background-color: #FFD876;
  text-align: center;
  margin-top: 50px;
  font-size: 130%;
  border-radius: 5px 5px 0 0;
}

thead {
  background-color: #F1F2F2;
}

td:first-child.nice-normal {
  color: #FFD876;
}

.index {
  background: inherit;
}

.story {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 90%;
  margin: 50px auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #003051;
}
.story h1 {
  text-transform: uppercase;
  color: #003051;
}
.story > div {
  margin: 20px auto;
}

.story-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.story-1 div {
  width: 50%;
}
.story-1 div:last-child {
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  text-align: justify;
}
@media all and (max-width: 768px) {
  .story-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
  .story-1 div {
    width: 100%;
  }
}

.story-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.story-2 div {
  width: 100%;
}
.story-2 div:last-child {
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  text-align: justify;
}

.story-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.story-3 div {
  width: 50%;
}
.story-3 div:first-child {
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  text-align: justify;
}
@media all and (max-width: 768px) {
  .story-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
  .story-3 div {
    width: 100%;
  }
  .story-3 div:first-child {
    order: 2;
  }
  .story-3 div:last-child {
    order: 1;
  }
}

@media all and (max-width: 576px) {
  .story {
    width: 80%;
  }
  .story h1 {
    text-align: center;
  }
}
.services {
  background-color: #F8F8F8;
  width: 100%;
  text-align: center;
}
.services h1 {
  text-transform: uppercase;
  color: #003051;
  text-align: left;
  width: 90%;
  margin: 20px auto;
}

.service {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 90%;
  margin: 30px auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 6px #707070;
}
.service div:first-child {
  width: 40%;
}
.service div:first-child img {
  object-fit: cover;
  height: 300px;
}
.service div:last-child {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  padding: 5px 20px;
  box-sizing: border-box;
}
.service div:last-child h2 {
  text-transform: uppercase;
  color: #003051;
}
.service div:last-child p {
  font-weight: normal;
}
.service div:last-child a {
  padding: 10px 30px;
  border-radius: 5px;
  color: #003051;
  background-color: #FFD876;
  border: 1px solid #003051;
  border: none;
}
.service div:last-child a:hover {
  color: #FFD876;
}
.service div:last-child a:hover {
  background-color: #003051;
}
.service div:last-child a:hover {
  border: 1px solid #FFD876;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding: 30px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.1s, opacity 0.3s ease;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  outline: none;
  background: none;
  font-size: 24px;
  color: #747474;
  font-weight: bold;
}
.modal__close:hover {
  color: #000;
}
.modal__container {
  position: relative;
  z-index: 200;
  width: 60%;
  height: 60%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 5px #fff;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  text-align: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  border-radius: 10px;
  color: #003051;
  overflow: auto;
}
.modal-content .top-modal-content, .modal-content .bottom-modal-content {
  width: 100%;
}
.modal-content .top-modal-service-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.modal-content .top-modal-service-content div {
  width: 100%;
}
.modal-content .top-modal-service-content div:first-child {
  width: 100%;
}
.modal-content .top-modal-service-content div:last-child * {
  margin: 20px auto;
  width: 80%;
}
.modal-content .top-modal-event-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 50px;
  min-height: 300px;
}
.modal-content .top-modal-event-content div {
  width: 50%;
}
.modal-content .top-modal-event-content div:last-child * {
  margin: 20px auto;
  width: 80%;
}
.modal-content .top-modal-event-content div:last-child h4 {
  color: #FFD876;
}
.modal-content .bottom-modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  min-height: 300px;
}
.modal-content .bottom-modal-content div {
  width: 50%;
}
.modal-content .bottom-modal-content div:first-child iframe {
  width: 100%;
  height: 100%;
}
.modal-content .bottom-modal-content div:last-child {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.modal-content .bottom-modal-content div:last-child * {
  padding: 5px;
}
.modal-content .bottom-modal-content div:last-child a {
  padding: 10px 30px;
  border-radius: 5px;
  color: #003051;
  background-color: #FFD876;
  border: 1px solid #003051;
  display: block;
  margin-top: 20px;
}
.modal-content .bottom-modal-content div:last-child a:hover {
  color: #FFD876;
}
.modal-content .bottom-modal-content div:last-child a:hover {
  background-color: #003051;
}
.modal-content .bottom-modal-content div:last-child a:hover {
  border: 1px solid #FFD876;
}

@media all and (max-width: 768px) {
  .modal__container {
    width: 80%;
  }

  .top-modal-service-content div:last-child * {
    margin: 20px auto;
    width: 100% !important;
  }
}
@media all and (max-width: 576px) {
  .services h1 {
    display: none;
  }

  .service {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 80%;
  }
  .service div:first-child, .service div:last-child {
    width: 100%;
  }
  .service div:first-child img {
    height: 200px;
  }

  .bottom-modal-content {
    flex-direction: column !important;
  }
  .bottom-modal-content div {
    width: 100% !important;
  }
}
.events {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.events section:first-child {
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.8);
}
.events section:nth-child(2) {
  width: 100%;
  text-align: center;
}
.events section:nth-child(2) h1 {
  text-transform: uppercase;
  color: #003051;
}

.event {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 90%;
  margin: 30px auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 6px #707070;
}
.event div:first-child {
  width: 40%;
}
.event div:first-child img {
  object-fit: cover;
  height: 300px;
}
.event div:last-child {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  padding: 5px 20px;
  box-sizing: border-box;
}
.event div:last-child h3 {
  font-size: 18.6666666667px;
  color: #FFD876;
}
.event div:last-child h2 {
  text-transform: uppercase;
  color: #003051;
}
.event div:last-child p {
  font-weight: normal;
}
.event div:last-child a {
  padding: 10px 30px;
  border-radius: 5px;
  color: #003051;
  background-color: #FFD876;
  border: 1px solid #003051;
  border: none;
}
.event div:last-child a:hover {
  color: #FFD876;
}
.event div:last-child a:hover {
  background-color: #003051;
}
.event div:last-child a:hover {
  border: 1px solid #FFD876;
}

@media all and (max-width: 576px) {
  .events {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: #F8F8F8;
  }
  .events section:first-child, .events section:nth-child(2) {
    width: 100%;
  }
  .events .event {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 80%;
  }
  .events .event div:first-child, .events .event div:last-child {
    width: 100%;
  }
  .events .event div:last-child h3 {
    color: #003051;
  }
}
.contact {
  width: 100%;
  height: calc(100vh - 57px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.contact section {
  min-width: 40%;
}
.contact section ul {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.contact section ul li {
  background-color: #003051;
  border-radius: 10px 10px 0 0;
  width: 50%;
  text-align: center;
  padding: 8px;
}
.contact section ul li a {
  padding: inherit;
  display: block;
  color: white;
}

.tabs-content {
  background-color: #003051;
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 90%;
}

.tab-content {
  width: 100%;
  height: 100%;
}
.tab-content form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
}
.tab-content form .double-form-group, .tab-content form > div {
  text-align: center;
  width: 70%;
  margin: 10px auto;
}
.tab-content form .double-form-group input, .tab-content form .double-form-group select, .tab-content form .double-form-group textarea, .tab-content form > div input, .tab-content form > div select, .tab-content form > div textarea {
  width: 100%;
  height: 40px;
  color: #fff;
  border: #fff solid 0.5px;
  margin: auto;
  outline: none;
  box-sizing: border-box;
  padding: 10px 5px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #003051;
}
.tab-content form .double-form-group input:focus, .tab-content form .double-form-group select:focus, .tab-content form .double-form-group textarea:focus, .tab-content form > div input:focus, .tab-content form > div select:focus, .tab-content form > div textarea:focus {
  box-shadow: 0 0 5px #51CBEE;
  border: 1px solid #51CBEE;
  border-radius: 10px;
}
.tab-content form .double-form-group textarea, .tab-content form > div textarea {
  height: 160px;
}
.tab-content form .double-form-group [type=submit], .tab-content form > div [type=submit] {
  width: 35%;
  margin: 10px auto;
  padding: 10px 30px;
  border-radius: 5px;
  color: #003051;
  background-color: #FFD876;
  border: 1px solid #003051;
}
.tab-content form .double-form-group [type=submit]:hover, .tab-content form > div [type=submit]:hover {
  color: #FFD876;
}
.tab-content form .double-form-group [type=submit]:hover, .tab-content form > div [type=submit]:hover {
  background-color: #003051;
}
.tab-content form .double-form-group [type=submit]:hover, .tab-content form > div [type=submit]:hover {
  border: 1px solid #FFD876;
}

.double-form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.double-form-group div {
  width: 49%;
  margin: 0;
}

li.active {
  border: transparent solid 1px;
}

li {
  border: white solid 1px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

@media all and (max-width: 992px) {
  .contact section {
    width: 50%;
  }
}
@media all and (max-width: 768px) {
  .contact section {
    width: 65%;
  }

  .double-form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }
  .double-form-group div {
    width: 100%;
    margin: 0;
  }
  .double-form-group div:first-child {
    margin-bottom: 20px;
  }
}
@media all and (max-width: 576px) {
  .contact section {
    width: 90%;
  }
}
.login {
  width: 100%;
  height: calc(100vh - 57px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.form-container {
  background-color: #003051;
  border-radius: 10px;
  width: 30%;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
}
.form-container form h3 {
  margin: 20px auto;
  color: #fff;
}
.form-container form p {
  margin: 20px auto;
  color: #fff;
}
.form-container form div {
  text-align: center;
  width: 80%;
  margin: 10px auto;
}
.form-container form div input {
  width: 100%;
  height: 48px;
  color: #fff;
  border: #fff solid 0.5px;
  margin: auto;
  outline: none;
  box-sizing: border-box;
  padding: 10px 5px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #003051;
}
.form-container form div input:focus {
  box-shadow: 0 0 5px #51CBEE;
  border: 1px solid #51CBEE;
  border-radius: 10px;
}
.form-container form div [type=submit] {
  width: 50%;
  margin: 10px auto;
  padding: 10px 30px;
  border-radius: 5px;
  color: #003051;
  background-color: #FFD876;
  border: 1px solid #003051;
}
.form-container form div [type=submit]:hover {
  color: #FFD876;
}
.form-container form div [type=submit]:hover {
  background-color: #003051;
}
.form-container form div [type=submit]:hover {
  border: 1px solid #FFD876;
}
.form-container form .forgot-pwd {
  text-align: right;
}
.form-container form .forgot-pwd a {
  color: #fff;
}

@media all and (max-width: 992px) {
  .form-container {
    width: 40%;
  }
}
@media all and (max-width: 768px) {
  .form-container {
    width: 50%;
  }
}
@media all and (max-width: 576px) {
  .form-container {
    width: 90%;
  }
}
.account {
  width: 100%;
  height: calc(100vh - 107px);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  margin-top: 50px;
}
.account .profil, .account .bills {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.account .profil div, .account .bills div {
  color: #003051;
}
.account .profil h2, .account .bills h2 {
  width: 100%;
  color: #FFD876;
  background-color: #003051;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-weight: normal;
}
.account .profil {
  width: 20%;
}
.account .profil div {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding: 10px 0;
}
.account .profil div p {
  padding: 5px;
}
.account .bills {
  width: 70%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
}
.account .bills div {
  width: 100%;
  padding: 10px 0;
}
.account .bills div .bill {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  padding: 10px 5px;
  margin: 10px auto 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 6px #707070;
  width: 95%;
}
.account .bills div .bill a {
  display: block;
  color: #003051;
}

@media all and (max-width: 576px) {
  .account {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
  }
  .account .profil, .account .bills {
    width: 90%;
    margin: auto;
  }
  .account .bills div .bill {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
}
.faq {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 90%;
  margin: 50px auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #003051;
}
.faq h2 {
  text-transform: uppercase;
  color: #003051;
}
.faq > div {
  margin: 10px auto;
}
.faq > div div {
  margin: 10px auto;
}
.faq .collapsible {
  background-color: #003f6b;
  color: #FFD876;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.faq .active, .faq .collapsible:hover {
  background-color: #003051;
}
.faq .collapsible:after {
  content: "+";
  color: #FFD876;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.faq .active:after {
  content: "−";
}
.faq .content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*# sourceMappingURL=style.css.map */
