.nav{
    width: 100%;
    //@include padding();
    box-sizing: border-box;
    background: {
        color: $yellow;
    }
    @include flex();
    //display: flex;
    position: fixed;
    top: 0;
    z-index: 98;
    .container{
        width: 90%;
        @include padding();
        @include flex(null, null, space-between);
        margin: auto;
        .nav-links{
            width: 35%;
            @include padding();
            @include flex(null, null, space-between);
            a{
                border-radius: inherit;
                background: inherit;
                //color: inherit;
                position: relative;
                @include padding();
                //@include link-unstyled($blue);
                color: $blue;
                text-transform: uppercase;
                &:before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $blue;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out 0s;
                }
                &:hover:before{
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }
}
.hide-menu{
    transform: translateY(-500px);
}
.show-menu{
    transform: translateY(32px);
}
.hamburger, .cross{
    color: $blue;
    display: block;
    z-index:100;
}
.menu{
    transition: all 1s ease-in-out;
    width:100%;
    background:$yellow;
    position:absolute;
    text-align:center;
    padding-top: 30px;
    a{
        display: block;
        color: $blue;
        border-bottom:$blue 1px solid;
        &:hover{
            display: block;
            background:$blue;
            color: $yellow;
            border-bottom:$blue 1px solid;
        }
    }
}


@include at-least($phone){
    .nav .container{
        .bars, .menu{
            display: none;
        }
    }
}

@include until($phone){
    .nav .container{
        @include padding(0);
        width: 100%;
        .nav-links{
            display: none;
        }
        .bars{
            display: block;
            width: 100%;
            a{
                @include padding(16px)
            }
        }
        .menu{
            width: 100%;
            a{
                @include padding(16px)
            }
        }
    }
}