.contact {
    @include size(100%, calc(100vh - 57px));
    @include flex(column, null, center, center);
    section {
        min-height: 60%;
        min-width: 50%;
        ul{
            //padding: 0;
            @include padding(0);
            width: 100%;
            @include flex();
            li{
                background-color: $blue;
                border-radius: 10px 10px 0 0;
                width: 50%;
                text-align: center;
                @include padding(10px);
                //padding: 10px;
                a{
                    //@include link-colors(inherit, inherit);
                    //@include background-colors(inherit, inherit);
                    @include padding(inherit);
                    //border-radius: inherit;
                    display: block;
                    color: white;
                }
            }
        }
    }
}

.tabs-content{
    background-color: $blue;
    border-radius: 0 0 10px 10px;
    @include size(100%, 90%);
}


.tab-content{
    @include size(100%);
    form{
        @include flex(column, null, space-around);
        @include size(100%);
        .double-form-group, > div{
            text-align: center;
            width: 80%;
            margin: 10px auto;
            input, select, textarea{
                @include size(100%, $p-font-size * 3);
                color: $white;
                border: $white solid .5px;
                margin: auto;
                outline: none;
                box-sizing: border-box;
                @include padding(10px 5px);
                border-radius: 10px;
                font-size: $p-font-size;
                background-color: $blue;
                //line-height: $p-font-size * 3;
                //border-color: gray;
                &:focus{
                    box-shadow: 0 0 5px $light-blue;
                    border: 1px solid $light-blue;
                    border-radius: 10px;
                }
            }
            textarea{
                height: $p-font-size * 10;
            }

            [type=submit]{
                width: 25%;
                margin: 10px auto;
                @include button-blue;
                //@include link-colors($blue, $yellow);
                //@include background-colors($yellow, $blue);
                //@include padding(10px 30px);
                //border-radius: 10px;
                //font-size: $a-font-size;
                //border: transparent solid 1px;
                //&:hover{
                //    border: $yellow solid 1px;
                //}
            }
        }
    }
}

//.form-group{
//    margin: 5px;
//}

.double-form-group{
    @include flex(null, wrap, space-between);
    div{
        width: 49%;
        margin: 0;
    }
}

li.active{
    border: transparent solid 1px;
}
li{
    border: white solid 1px;
}

.tab-content{
    display: none;
}
.tab-content.active{
    display: block;
}