.contact {
    @include size(100%, calc(100vh - 49px));
    @include flex(column, null, center, center);
    section {
        min-width: 40%;
        ul{
            @include padding(0);
            width: 100%;
            @include flex();
            li{
                background-color: $blue;
                border-radius: 10px 10px 0 0;
                width: 50%;
                text-align: center;
                @include padding(8px);
                a{
                    @include padding(inherit);
                    display: block;
                    color: white;
                }
            }
        }
    }
}
.tabs-content{
    background-color: $blue;
    border-radius: 0 0 10px 10px;
    @include size(100%, 90%);
}
.tab-content{
    @include size(100%);
    form{
        @include flex(column, null, space-around);
        @include size(100%);
        .double-form-group, > div{
            text-align: center;
            width: 70%;
            margin: 10px auto;
            input, select, textarea{
                @include size(100%, $p-font-size * 2.5);
                color: $white;
                border: $white solid .5px;
                margin: auto;
                outline: none;
                box-sizing: border-box;
                @include padding(10px 5px);
                border-radius: 10px;
                font-size: $p-font-size;
                background-color: $blue;
                &:focus{
                    box-shadow: 0 0 5px $light-blue;
                    border: 1px solid $light-blue;
                    border-radius: 10px;
                }
            }
            textarea{
                height: $p-font-size * 10;
            }

            [type=submit]{
                width: 35%;
                margin: 10px auto;
                @include button-blue;

            }
        }
    }
}
.double-form-group{
    @include flex(null, wrap, space-between);
    div{
        width: 49%;
        margin: 0;
    }
}
li.active{
    border: transparent solid 1px;
}
li{
    border: white solid 1px;
}
.tab-content{
    display: none;
}
.tab-content.active{
    display: block;
}
@include until($desktop){
    .contact{
        section{
            width: 50%;
        }
    }
}
@include until($tablet){
    .contact {
        section {
            width: 65%;
        }
    }
    .double-form-group{
        @include flex(column, wrap, space-between);
        div{
            width: 100%;
            margin: 0;
        }
        div:first-child{
            margin-bottom: 20px;
        }
    }
}
@include until($phone){
    .contact {
        section {
            width: 90%;
        }
    }
}