.events {
    @include flex(column);
    section:first-child {
        width: 100%;
        height: 30%;
        background-color: rgba(255, 255, 255, .8);
    }
    section:nth-child(2) {
        width: 100%;
        text-align: center;
        h1 {
            text-transform: uppercase;
            color: $blue;
        }
    }
}

.event {
    @include flex();
    width: 90%;
    margin: 30px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 5px 5px 6px #707070;
    div:first-child {
        width: 40%;
        img{
            object-fit: cover;
            height: 300px;
        }
    }
    div:last-child {
        width: 60%;
        @include flex(column, null, space-around, center);
        padding: 5px 20px;
        box-sizing: border-box;
        h3 {
            font-size: $h3-font-size / 1.5;
            color: $yellow;
        }
        h2 {
            text-transform: uppercase;
            color: $blue;
        }
        p {
            font-weight: normal;
        }
        a{
            @include button-blue;
            border: none;
        }
    }
}

.top-modal-event-content{
    @include flex(row);
    margin-bottom: 50px;
    min-height: 300px;

    div{
        width: 50%;
        &:last-child{
            *{
                margin: 20px auto;
                width: 80%;
            }
            h4{
                color: $yellow;
            }
        }
    }
}
@include until($tablet){
    .top-modal-event-content{
        flex-direction: column;
        div{
            width: 100%;
        }
    }
}

@include until($phone){
    .events{
        @include flex(column);
        background-color: #F8F8F8;
        section:first-child, section:nth-child(2){
            width: 100%;
        }
        .event{
            @include flex(column);
            width: 80%;
            div:first-child, div:last-child{
                width: 100%;
            }
            div:first-child{
                img{
                    height: 200px;
                }
            }
            div:last-child h3{
                color: $blue;
            }
        }
    }
}