$p-font-size: $font-size-base ;
$a-font-size: $font-size-base ;
$h1-font-size: $font-size-base * 2.5 ;
$h2-font-size: $font-size-base * 2 ;
$h3-font-size: $font-size-base * 1.75 ;
$h4-font-size: $font-size-base * 1.5 ;
$h5-font-size: $font-size-base * 1.25 ;
$h6-font-size: $font-size-base ;

$media: only screen;
$phone: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;


@mixin at-least($device-width){
    @media all and(min-width: $device-width){
        @content;
    }
}

@mixin until($device-width){
    @media all and(max-width: $device-width){
        @content;
    }
}

@mixin responsive-font-size($device, $size){
    @include until($device){
        p{
            font-size: $p-font-size - ($font-size-base - $size);
        }
        a{
            font-size: $a-font-size - ($font-size-base - $size);
        }
        h1{
            font-size: $h1-font-size - ($font-size-base - $size) * 2.5;
        }
        h2{
            font-size: $h2-font-size - ($font-size-base - $size) * 2;
        }
        h3{
            font-size: $h3-font-size - ($font-size-base - $size) * 1.75;
        }
        h4{
            font-size: $h4-font-size - ($font-size-base - $size) * 1.5;
        }
        h5{
            font-size: $h5-font-size - ($font-size-base - $size) * 1.25;
        }
        h6{
            font-size: $h6-font-size - ($font-size-base - $size);
        }
    }
}

@mixin flex($flex-direction: row, $flex-wrap: nowrap, $justify-content: flex-start, $align-items: stretch, $align-content: stretch){
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: $align-content;
}

@mixin link-colors($normal, $hover){
    color: $normal;
    &:hover{
        color: $hover;
    }
}

@mixin background-colors($normal, $hover){
    background-color: $normal;
    &:hover{
        background-color: $hover;
    }
}

@mixin border($border-width: null, $border-style: null, $border-color: null, $hover-border-width: null, $hover-border-style: null, $hover-border-color: null) {
    border: $border-width $border-style $border-color;
    &:hover{
        border: $hover-border-width $hover-border-style $hover-border-color;
    }
}

@mixin size($width, $height: $width){
    width: $width;
    height: $height;
}

@mixin padding($padding: 5px){
    padding: $padding;
}

@mixin margin($margin){
    margin: $margin;
}

@mixin direction-size($left: null, $top: null, $right: null, $bottom: null){
    left: $left;
    top: $top;
    right: $right;
    bottom: $bottom;
}

@mixin shadows($shadows){
    box-shadow: $shadows;
}

@mixin img-fluid{
    width: 100%;
    height: auto;
}

@mixin border-bottom-right-radius($radius) {
    border-bottom-right-radius: $radius;
}

@mixin border-radius($radius: $border-radius) {
    border-radius: $radius;
}

@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius){
    padding: $padding-y $padding-x;
    $font-size: $font-size;
    line-height: $line-height;
    @include border-radius($border-radius);
}
